<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule (.*)$ index.php
</IfModule>
<ifModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate, pre-check=0, post-check=0"
</IfModule>
Header always append X-Frame-Options SAMEORIGIN
Header always append X-XSS-Protection "1; mode=block"
Header always append X-Content-Type-Options "nosniff"
Header always append Content-Type text/plain;charset=utf-8
Header always append Strict-Transport-Security: max-age=63072000


#You can add more settings